.Results {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
  border-top: 2px solid #ddd;
}

.Results h3,
.Results h4 {
  font-weight: normal;
}
.Results em {
  font-weight: bold;
}

.Results .MainInfo {
  border: solid 2px grey;
  width: 30vw;
}
