body {
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #e1e8ed, #f5f8fa);
  box-sizing: border-box;
}

code {
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
